<% content_for :title, t('.headline') %>

<% if @cd.errors.any? %>
    <div class="alert-message block-message error" style="margin-left:17px;">
      <ul>
        <% @cd.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @cd, :url => { :action => "create" } do |f| %>


	<%= render 'form_fields', :form => f %>

    <div class="actions"> 
        <%= f.submit "CD erstellen", :class => "btn success" %>
    </div>
<% end %>

<div class="result"></div>