<% content_for :title, t('.swap_cd') %>

<div class="row grid-move" >
    <div class="span4 swap box-swap" style="padding:4px;" > 
    </div>
    <div class="span8" style="margin-left:10px;" >
        <div class="wanted box-swap">Test wanted</div>
        <div class="mine box-swap">Test mine</div>
    </div>
    <div class="span4 swap box-swap" style="margin-left:10px; padding:4px;"  >TESt 4</div>
</div>
