<% content_for :title, "Willkommen" %>

<div class="row" style="margin-left:17px">
    <div class="span5 welcome">
        <h6 style="text-align: center;">Was ist SwaRMusic?</h6>
        SwaRmusic ist eine der bekanntesten Internetplattformen zum Tauschen von Cds.
    </div>
    <div class="span5 welcome">
        <h6 style="text-align: center;"> Wie funktioniert das Tauschen?</h6> 
        Als angemeldeter User haben Sie die Moeglichkeit Ihre eigen eingestellten CDs gegen die eine oder mehrere CDs eines anderen Users.
        
    </div>
    <div class="span5 welcome">
        <h6 style="text-align: center;">Jetzt mit machen!</h6>
        Sie wollen mitmachen und CDs Tauschen, dann 
        <%= link_to  "Registrieren", new_user_registration_path %>	Sie sich jetzt.
        
        
    </div>
</div>
