<table>
	<thead>
	<tr>
	    <th>Meine CD(s)</th>
		<th>Eingetauscht gegen</th>
	</tr>
	</thead>
	<tbody>
	<% @transactions.each do |t| %>
		<% if t.provider_id == current_user.id %>
			<tr>
			<td>
			<% t.swap_provider.each do |sp| %>
				<%= image_tag getDiskById(sp.compact_disk_id).photo.url(:small) %>
			<% end %>
			</td>
			<td>
			<% t.swap_receiver.each do |sr| %>
				<%= image_tag getDiskById(sr.compact_disk_id).photo.url(:small) %>
			<% end %>
			</td>
			</tr>	
		<% else %>
			<tr>
			<td>
			<% t.swap_receiver.each do |sr| %>
				<%= image_tag getDiskById(sr.compact_disk_id).photo.url(:small) %>
			<% end %>
			</td>
			<td>
			<% t.swap_provider.each do |sp| %>
				<%= image_tag getDiskById(sp.compact_disk_id).photo.url(:small) %>
			<% end %>
			</td>
			</tr>
		<% end %>
	<% end %>
	</tbody>
</table>