<% content_for :title, "Aktivste Benutzer" %>

<p><%= flash[:alert] %></p>

<div style="height:494px;">
<ol id="selectable">
	<% @users.each do |u| %>
	<li>
		<%= link_to (image_tag u.photo.url(:normal)),  allUserCDs_path(u.id)%>
		<p class="blackFont"><%= u.firstname + " " + u.lastname %></p>
		
	</li>
	<% end %>
</ol>
</div>