/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.user-auth-nav{
	float: right;
}

#title{
	border: 2px solid black;
	width: 100%;
	height: 110px;
}

#standard{
	background-color:#D3D3D3;
	font-family: Sans-serif;
	font-size: 16px;
	}

#main{
	
	position: absolute;
	width:1024px;
	height: 100%;
	left: 50%;
	margin-left: -512px;
	background-color: white;
	}

#head{
	
	width:100%;
	height:144px;
}

#navi{
	float: left;
	width: 200px;
	height:456px;
	}

#shareBox{
	float: left;
	width: 200px;
	height: 250px;
	position: absolute;
	top: 480px;
	z-index: 1;
}

#navidesign1{
	background-color:#2E2E2E;
	width: 200px;
	height:300px;
	color: #FFFFFF;
	margin:0px;
	}

#navidesign2{
	background-color:#E6E6E6;
	width: 183px;
	height: 283px;
	margin:0px 0px 5px 5px;
	padding: 6px 6px 6px 6px;
    font-size: 20px;
	}
    
#menueelement{
    margin-top:3px;
    margin-bottom:3px;
}

#menueelement a{
    margin-right:5px;
}

#menueelement img{
    position:absolute;
}

#content{
	float:right;
	width:794px;
	height:426px;
	padding:20px 10px 10px 20px;
    background-color:white;
	}
#login{
	width:282px;
	height: 88px;	
	float:right;
	margin: 4px 4px 4px 4px;
	padding: 4px 4px 4px 4px;
	border-width: 1px;
	border-color: #2E2E2E;
	border-style: solid;
    font-size:10px;
	}

#login user_email{
    margin-left:13px;
}
    
#naviline{
	float:left;
	width:809px;
	height:32px;
	background-color:#2E2E2E;
	background-image: url(web1_04.gif);
	background-repeat:no-repeat;
	padding-left: 205px;
	padding-top: 6px;
	padding-bottom: 0px;
	padding-bottom: 0px;
	padding-right:10px;
	color:#FF7F24;
    
}
a:link{ 
	font-weight:bold; 
	color:#FF7F24; 
	text-decoration:none; 
	}
a:visited { 
	font-weight:bold; 
	color:#FF7F24; 
	text-decoration:none; 
	}
a:focus { 
	font-weight:bold; 
	color:#FF7F24; 
	text-decoration:underline; 
	}
a:hover { 
	font-weight:bold; 
	color:#FF7F24; 
	text-decoration:none; 
	}
a:active { 
	font-weight:bold; 
	color:#FF7F24; 
	text-decoration:underline;
	 }


#logo{  
	float:left;
	width: 724px;
	height:106px;
	background-image: url(web1_02.gif);
	background-repeat:no-repeat;
}



#cd_info{
	font-size: 16px;
}

#feedback { 
	font-size: 1.0em; 
}
#selectable .ui-selecting { 
	background: #FECA40; 
}
#selectable .ui-selected { 
	background: #F39814; 
	color: white; 
}
#selectable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	height: 100%;
}
#selectable li { 
	margin: 3px; 
	padding: 1px; float: 
	left; width: 200px; 
	height: 180px; 
	font-size: 2em; 
	text-align: center; 
	z-index: 2;
}

#loginbar{
	width: 1024px;
	height: 25px;
	background: #F39814;
	text-align: right;
	margin-bottom: 2px;
}
#buttons form, #buttons div {
       display: inline;
}

#logged_in_as{
    font-size: 18px;   
}
#logged_in_as_name{
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 13px;
}

.field_with_errors{
	border: 2px solid red;
	width: 180px;
}

#error_explanation{
	margin: 4px;
}

#error_explanation h2{
	font-size: 16px;
}

#error_explanation li{
	font-size: 14px;
}