<% content_for :title, "Imressum" %>
<div style="padding-left:20px;">
Dies ist ein Projekt von Studenten des Masterstudiengangs Angewandte Informatik an der Hochschule für Technik und Wirtschaft Berlin im Rahmen des Kurses Softwareentwicklung und Frameworks.
</div>